body{
    font-family: sans-serif;
    background: ghostwhite;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, ivory, #494a4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, ivory, #494a4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
*{
    padding: 0;
    margin: 0;
}
.column{
    padding: 1.25%;
}

.left{
    float: left;
    position: relative;
    top: 0%;
    width: 25%;
}

.right{
    float: right;
    position: relative;
    top: 0%;
    width: 70%;
}

header {
    text-align: right;
    color: ivory;
    height: 30vh;
    width: 100%;
    position: relative;
}

.headerBackground{
    background: url(./Img/headerBackground.png);
    background-repeat: no-repeat;  
    background-size: cover;
}

header h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5%;
}

.headerImg{
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 25vh;
}

.infoTitle{
    position: relative;
    padding: 10px;
}

.personalInfo{
    font-size: 15px;
    padding-left: 15px;
}

.infoItem{
    margin-top: 5px;
}

.infoIcon{
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    fill: black;
}

.skillSet{
    position: relative;
}

.skills{
    height: 70px;
    width: 30%;
}

.proyectCard{
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-radius: 5px 5px;
    border-width: 2px;
}

/* unvisited link */
a:link {
    color: #004080;
  }
  
/* visited link */
a:visited {
    color: #004080;
  }
  